<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="navbar" id="myNavbar" style="display: none;">
        <a href="#home">Home</a>
        <a href="#shopping" onclick="showShoppingBasket()">Shopping Basket</a>
        <!-- <div class="dropdown">
            <button class="dropbtn" onclick="showPageProducts()">Products
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="dropdown-types">
            </div>
        </div> -->
        <a href="#shopping" onclick="showPageProducts()">Products</a>
        <a href="#logout" style="float: right;" onclick="signout()">Logout</a>
    </div>
    <div class="main" id="myProducts" style="display: none;">

        <div class="row" id="products">
        </div>

    </div>

    <div class="container main">
        <form id="signup" style="display: none;">
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <img src="../images/fruitshop.png" height="100px" width="100px">
                    </div>
                </div>
                <div class="col-75">
                    <h2 class="logo">Fruit Shop</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="col-75">
                    <input type="text" id="name" name="name" placeholder="Name">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="col-75">
                    <input type="text" id="username" name="username" placeholder="Username">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="col-75">
                    <input type="text" id="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="col-75">
                    <input type="text" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-bt">
                    <button class="signin-bt" type="button" onclick="signUp()">Register</button>
                </div>
            </div>
            <div class="row">
                <div class="col-bt">
                    <button class="signup-bt" type="button" onclick="showLogin()">Back</button>
                </div>
            </div>
        </form>
        <form id="signin">
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <img src="../images/fruitshop.png" height="100px" width="100px">
                    </div>
                </div>
                <div class="col-75">
                    <h2 class="logo">Fruit Shop</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <label for="username2">Username or email</label>
                    </div>
                </div>
                <div class="col-75">
                    <input type="text" id="username2" name="username2" placeholder="Username or email">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <label for="password2">Password</label>
                    </div>
                </div>
                <div class="col-75">
                    <input type="text" id="password2" name="password2" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-bt">
                    <button class="signin-bt" type="button" onclick="signIn()">Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-bt">
                    <button class="signup-bt" type="button" onclick="showSignup()">Or Signup</button>
                </div>
            </div>
        </form>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <input id="quant" type="number">
                <button onclick="addQuant()">select</button>
            </div>

        </div>

        <table class="table" id="basket-products" style="display: none; overflow-x:auto;">
            <thead>
                <br><br>
                <tr>
                    <th>Product</th>
                    <th>Quantity (Kg)</th>
                    <th>price (€/Kg)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="col-bt">
            <button id="purchase">Make purchase</button>
        </div>

        <form id="hideAddProd" style="display: none;">
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <label for="prodname">Product name: </label>
                    </div>
                </div>
                <div class="col-75">
                    <input type="text" id="prodname" name="prodname" placeholder="Product name">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <label for="prodDesc">Product description: </label>
                    </div>
                </div>
                <div class="col-75">
                    <input type="text" id="prodDesc" name="prodDesc" placeholder="Product description">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <label for="prodQuant">Quantity: </label>
                    </div>
                </div>
                <div class="col-75">
                    <input type="text" id="prodQuant" name="prodQuant" placeholder="Product quantity">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <div class="col-25">
                    </div>
                    <div class="col-25">
                        <label for="prodPrice">Price: </label>
                    </div>
                </div>
                <div class="col-75">
                    <input type="text" id="prodPrice" name="prodPrice" placeholder="Product price">
                </div>
            </div>
            <div class="row">
                <div id="newProduct" class="col-bt">
                    <input type='file' />
                </div>
            </div>
            <div class="row">
                <div class="col-bt">
                    <button class="signin-bt" type="button" onclick="postProduct()">Save product</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/models.js"></script>
    <script src="../js/services.js"></script>

</body>

</html>